extends ../_layouts/base

include ../_modules/hero-banner/hero-banner
include ../_modules/broad-categories/broad-categories
include ../_modules/explore-our-research/explore-our-research

block config 
  - baseUrl = '../'

block content
  .page-bottom-spacer
    +hero-banner({
      items: site.data.landingBanner,
      isCarousel: true
    })
    +broad-categories
    +explore-our-research