// our-research styles
.our-research {
  padding: 4.28rem 0 7.28rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__header {
    text-align: center;
    font-size: 3.214rem;
    margin-bottom: 3.5rem;
  }

  &__wrapper {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      li {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        img {
          max-width: 118px;
          aspect-ratio: 1/1;
          object-fit: contain;
          margin-bottom: 1rem;
        }

        h4 {
          text-align: center;
          font-size: 1.375rem;
          font-weight: bold;
        }
      }
    }
  }

  &__chosen {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;

    &.is-open {
      max-height: 500px;
      transition: max-height 0.5s ease-in;
    }

    p {
      padding: 1.25rem 2rem;
      color: white;
      line-height: 1.9;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 993px) {
  .our-research {
    &__wrapper {
      ul li img {
        max-width: 96px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .our-research {
    &__wrapper {
      ul {
        flex-wrap: nowrap;
        gap: 2rem;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;

        li {
          flex-shrink: 0;
          width: 155px;
        }
      }
    }
  }
}
