// articles-listing styles
#mobileTrigger {
  display: none;
}
.articles-listing {
  padding: 4rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__search {
    max-width: 60%;
    width: 100%;
    margin: 0 auto 3rem;
    position: relative;

    input[type="search"] {
      width: 100%;
      border-radius: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    button {
      background-color: transparent !important;
      outline: none;
      padding: 1rem;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      svg {
        width: 15px;
        height: 15px;
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  &__sidebar {
    border-radius: 0.25rem;
    padding: 1rem 1rem 6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: white;
    width: 250px;

    .title {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-top: 0.75rem;

      li {
        padding-bottom: 0.5rem;
      }

      label {
        display: flex;
        align-items: center;
        span {
          padding-left: 0.5rem;
        }
      }
    }
  }

  &__list {
    margin-top: 1rem;

    > span {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  &__articles {
    margin: 0;
    width: calc(100% - 250px - 3rem);
  }
}

@media screen and (max-width: 993px) {
  .articles-listing {
    &__search {
      max-width: 85%;
    }

    &__sidebar {
      width: 220px;
    }

    &__articles {
      width: calc(100% - 220px - 2.25rem);
    }
  }
}

@media screen and (max-width: 767px) {
  #mobileTrigger {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    height: 40px;
    font-weight: bold;
    background-color: #05407e;
    outline: none;
  }
  .articles-listing {
    flex-direction: column;
    position: relative;
    padding: 2rem 0 0;

    &__search {
      max-width: calc(100% - 2rem);
    }

    &__sidebar {
      width: 100%;
      position: absolute;
      left: 0;
      top: 40px;
      visibility: hidden;
      opacity: 0;
      margin-bottom: 1rem;

      &.is-open {
        opacity: 1;
        visibility: visible;
      }

      .title {
        display: none;
      }
    }

    &__articles {
      width: 100%;
      padding-top: calc(40px + 2rem);
    }
  }
}
