// Normalize Styles
@import "node_modules/normalize.css/normalize";
@import "node_modules/slick-carousel/slick/slick.scss";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Import Modules

// reusable modules
@import "../_modules/section-title/section-title";
@import "../_modules/hero-banner/hero-banner";
@import "../_modules/broad-categories/broad-categories";
@import "../_modules/explore-our-research/explore-our-research";

// mission and vision page
@import "../_modules/mission-vision/mission-vision";

// our people page
@import "../_modules/our-people/our-people";
@import "../_modules/people/people";

// our projects page
@import "../_modules/our-projects/our-projects";
@import "../_modules/project-card/project-card";
