mixin explore-our-research(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.explore-our-research 
    .fl-row.fl-row-fixed-width.fl-row-bg-none.explore-our-research__container
      if (!spec.hideTitle)
        h2.explore-our-research__title Explore our Research
      ul.explore-our-research__categories
        for category in site.data.exploreOurResearch 
          li(class="explore-our-research__category" data-category=category.param)
            a(href=`/our-research?category=${category.param}`)
              img(src=category.image)
              .explore-our-research__content
                h4= category.title
                i.fa-solid.fa-arrow-right-long

      
