extends _layouts/base

block content
  .container
    br
    br
    br
    h1 NUS CNCS Upgrade
    div(style="display: flex; flex-direction: column; padding-top: 2rem;")
      a(href="/landing") Landing page (DONE)
      a(href="/mission-vision") Mission and Vision
      a(href="/our-people") Our People
      a(href="/giving") Giving
      a(href="/explore-our-research") Explore Our Research
