extends _layouts/base

block content
  .container
    br
    br
    br
    h1 NUS CNCS Upgrade
    div(style="display: flex; flex-direction: column;")
      a(href="/landing") Landing page
      a(href="/giving") Giving
      a(href="/our-research") Explore Our Research
    br
    h2 Done in CMS
    div(style="display: flex; flex-direction: column;")
      a(href="/mission-vision") Mission and Vision
      a(href="/our-people") Our People
      a(href="/our-projects") Our Projects
